<div class="container mt-3">
  <div class="row">
    <div class="col">
      <a class="btn btn-primary active my-2 my-lg-0" href="" data-toggle="modal" data-target="#modalNewTask">New task</a>
    </div>
    <div class="col">
      <input class="form-control" id="filter" type="text" placeholder="Filters">
    </div>
  </div>
</div>

<div class="container mt-3">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Task</th>
      <th scope="col">Priority</th>
      <th scope="col">Status</th>
      <th scope="col">Created</th>
      <th scope="col">Updated</th>
      <th scope="col">Due Date</th>
      <th scope="col">Estimation</th>
      <th scope="col">Assigned</th>
      <th scope="col">Description</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let task of tasks">
      <th scope="row">{{task.name}}</th>
      <td>{{task.priority}}</td>
      <td>{{task.status}}</td>
      <td>{{task.created}}</td>
      <td>{{task.updated}}</td>
      <td>{{task.due_date}}</td>
      <td>{{task.estimation}}</td>
      <td>{{task.assigned}}</td>
      <td>{{task.description}}</td>
      <td><a class="btn btn-primary" href="#">Actions</a></td>
    </tr>
    </tbody>
  </table>
</div>


<div class="modal fade" id="modalNewTask" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title">New task</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="name" class="form-control-label">Name:</label>
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="editableTask.name" #name="ngModel" required/>
          </div>
          <div class="form-group">
            <label for="description" class="form-control-label">Description:</label>
            <input type="text" class="form-control" id="description" name="description" [(ngModel)]="editableTask.description" #description="ngModel" required/>
          </div>
          <div class="form-group">
            <label for="priority" class="form-control-label">Priority:</label>
            <select id="priority" name="priority" class="custom-select" [(ngModel)]="editableTask.priority" #priority="ngModel" required>
              <option *ngFor="let key of keys" [value]="key" [label]="priority_keys[key]"></option>
            </select>
          </div>
          <div class="form-group">
            <label for="due_date" class="form-control-label">Due date:</label>
            <input type="text" class="form-control" id="due_date" name="due_date" [(ngModel)]="editableTask.due_date" #due_date="ngModel" required/>
          </div>
          <div class="form-group">
            <label for="estimation" class="form-control-label">Estimation:</label>
            <input type="text" class="form-control" id="estimation" name="estimation" [(ngModel)]="editableTask.estimation" #estimation="ngModel" required/>
          </div>
        </form>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button class="btn btn-default" data-dismiss="modal" (click)="_createTask(name)">Create</button>
      </div>
    </div>
  </div>
</div>


